
.container {
  display: flex;
  justify-content: right;
  width: 100%;
}

.items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70%;
}
.items > * {
  width: 100%;
}
