.container {
  display: flex;
  width: 100%;
}

.left-panel {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 20px;
}

.right-panel {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 20px;
}

.new-post-button {
  height: 40px;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: #d65a31;
  border: none;
  font-weight: bold;
}

.search-filters {
  font-size: 16px;
  font-weight: bold;
  background-color: #f7d265;
  border-radius: 20px;
  padding: 10px;
}

.filter-section {
  margin-bottom: 20px;
  text-align: center;
}

.filter-section span {
  display: block;
  margin-bottom: 10px;
}

.items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.mat-icon {
  background-color: white;
  border-radius: 20px;
  padding: 30%;
}
.filters-button {
  background-color: white;
  border-radius: 20px;
  padding: 3%;
  margin-right: 2%;
}
.items > * {
  width: 100%;
}
