<mat-card class="article-card">
  <div class="header-wrapper">
    <img mat-card-avatar [src]="post.image" alt="Post Image">
    <div class="user-info">
      <mat-card-title>{{ post.userName }}</mat-card-title>
      <mat-card-title>{{ post.date }}</mat-card-title>
    </div>
  </div>
  <mat-card-content class="content-wrapper">
    <img mat-card-image [src]="post.thingImage" alt="Post Image" class="content-image">
    <div class="content-text">
      <p>{{ post.title }}</p>
      <p>{{ post.content }}</p>
    </div>
  </mat-card-content>
</mat-card>
