<mat-card class="article-card">
  <button mat-button class="top-right-button" [routerLink]="['/forum/post-view', post.id]">Open</button>
  <div class="header-wrapper">
    <img mat-card-avatar [src]="post.image" alt="Post Image">
    <div class="user-info">
      <mat-card-title>{{ post.title }}</mat-card-title>
    </div>
  </div>
  <mat-card-content class="content-wrapper">
    <img mat-card-image [src]="post.image" alt="Post Image" class="content-image">
    <div class="content-text">
      <p>{{ post.content }}</p>
    </div>
  </mat-card-content>
</mat-card>
