<div class="filter-search-container">
  <button (click)="toggleFilterMenu()" class="filter-button">☰</button>
  <input type="text" placeholder="Buscar productos..." class="search-bar">
  <!-- Menú de filtros desplegable -->
  <div *ngIf="filterVisible" class="filter-dropdown">
    <label *ngFor="let filter of filterOptions">
      <input type="checkbox"> {{ filter }}
    </label>
  </div>
</div>

<div class="product-container">
  <div *ngFor="let product of products" class="product-card">
    <img [src]="product.image" alt="Product Image">
    <div class="product-info">
      <div>{{product.quantity}}</div>
      <div>{{product.date}}</div>
      <div>{{product.name}}</div>
      <div>{{product.creator}}</div>
      <button>{{product.action}}</button>
    </div>
  </div>
</div>
