/* product-list.component.css */
.product-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Una sola columna */
  grid-template-rows: repeat(auto-fill, minmax(250px, 1fr)); /* Altura automática que se ajusta al contenido */
  gap: 20px;
  padding: 20px;
  max-height: 100vh; /* Altura máxima de la ventana del navegador */
  overflow-y: auto; /* Habilita desplazamiento vertical si es necesario */
}

.product-card {
  border: 1px solid #ccc;
  text-align: center;
  padding: 10px;
}

.product-image {
  width: 100%;
  height: 200px; /* Altura fija para la imagen */
  object-fit: cover; /* Asegura que la imagen cubra el espacio sin deformarse */
}

.product-details {
  margin-top: 10px;
}

.button {
  background-color: #f90;
  border: none;
  padding: 8px 16px;
  color: white;
  cursor: pointer;
}

