<div class="planes" id="plans-section">
  <div class="plans-text-container">
    <h2>Plans</h2>
  </div>
  <div class="plan">
    <h3>Free:</h3>
    <h2>S/.0</h2>
    <p>
      - Free entry to the platform.<br>
      - Limit of 2 work orders per month.<br>
      - Limit of 1 inventory shelf.<br>
      - Limited features
    </p>
    <button>Subscribe</button>
  </div>
  <div class="plan">
    <h3>Craftsman:</h3>
    <h2>S/.15</h2>
    <p>
      - Free entry to the platform.<br>
      - Unlimited order and inventory spaces.<br>
      - Availability of all features.
    </p>
    <button>Subscribe</button>
  </div>
  <div class="plan">
    <h3>Distributor:</h3>
    <h2>S/.15</h2>
    <p>
      - Free entry to the platform.<br>
      - Exclusive functionalities to request and assign orders.<br>
      - Stay up to date with the progress of your orders easily and clearly.
    </p>
    <button>Subscribe</button>
  </div>
</div>
